<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
  <main class="main" id="main">
    <div class="container">
      <div id="piechart<%=survey.title%>" style="width: 900px; height: 500px;"></div>
    </div>
  </main>

  <script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      const title = '<%-survey.title%>';
      const questions = JSON.parse('<%-questions%>');
      const tableItems = questions.map(question => {
        return [question.answer, question.selectedCount];
      });

      const data = google.visualization.arrayToDataTable([
        [title, title],
        ...tableItems
      ]);

      const chart = new google.visualization.PieChart(document.getElementById('piechart<%=survey.title%>'));
      chart.draw(data, { title });
    }
  </script>
</body>