<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Potter's House Academy</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
</head>

<body>
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="/" class="logo d-flex align-items-center">
                <span class="d-none d-sm-block" style="font-size: 20px;">Potter's House Academy</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <span class="d-none d-md-block dropdown-toggle ps-2">
                            <%= user.firstName %>
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>
                                <%= user.firstName %>
                            </h6>
                            <span>
                                <%= user.username %>
                            </span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/logout">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>

                    </ul>
            </ul>
        </nav>
    </header>

    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav0" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-house-fill"></i><span>Home</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav0" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/">
                            <i class="bi bi-circle"></i><span>Home</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-archive-fill"></i><span>Documentation</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/files">
                            <i class="bi bi-circle"></i><span>Media List</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav1" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-person-lines-fill"></i><span>Students</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav1" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/students">
                            <i class="bi bi-circle"></i><span>Students List</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav2" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-person-circle"></i><span>Teachers</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav2" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/teachers">
                            <i class="bi bi-circle"></i><span>Teachers List</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-managment" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-people-fill"></i><span>Staff</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-managment" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/admins">
                            <i class="bi bi-person-lines-fill"></i><span>Admins List</span>
                        </a>
                        <a href="/moderators">
                            <i class="bi bi-person-lines-fill"></i><span>Moderators List</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-navForum" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-card-list"></i><span>Forum</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-navForum" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/forum">
                            <i class="bi bi-circle"></i><span>Forum</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-navSurvey" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-card-list"></i><span>Surveys</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-navSurvey" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/surveys">
                            <i class="bi bi-circle"></i><span>Surveys</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav3" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-shield-fill-exclamation"></i><span>Privacy</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav3" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/privacy">
                            <i class="bi bi-circle"></i><span>Privacy Terms</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>
    
</body>

</html>