<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Potter's House Academy</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
</head>

<body>
    <header id="header" class="header fixed-top d-flex align-items-center" style="background-color:#0057F9">
        <div class="d-flex align-items-center justify-content-between">
            <a href="/news" class="logo d-flex align-items-center" style="text-decoration: none;">
                <span class="d-none d-sm-block" style="font-size: 20px; color: #FFFFFE;">Potter's House Academy</span>
            </a>
            <i style="font-size: 20px; color: #FFFFFE;" class="bi bi-list toggle-sidebar-btn"></i>
        </div>

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item dropdown pe-3">
                    <a style="font-size: 20px; color: #FFFFFE;" class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <span class="d-none d-md-block dropdown-toggle ps-2">
                            <%= user.firstName %>
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>
                                <%= user.firstName %>
                            </h6>
                            <span style="color: black;">
                                <%= user.username %>
                            </span>
                            <br>
                            <span style="color: black;">
                                <%= user.email %>
                            </span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/logout">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>

                    </ul>
            </ul>
        </nav>
    </header>
    <style type="text/css">
    </style>
    <aside id="sidebar" class="sidebar" style="background-color:#0057F9">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a style="background-color:#4284FC" class="nav-link collapsed" data-bs-target="#forms-nav0" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-house-fill icon" style="color: white;"></i><span style="color: white;">Home</span><i style="color: white;" class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav0" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li style="display: block; margin: 5px 0;">
                        <a style="background-color:#81ADFE" href="/news">
                            <i class="bi bi-circle" ></i><span style="color: white;">Home</span>
                        </a>
                    </li>
                    <li>
                        <a style="background-color:#81ADFE" href="/news/add">
                            <i class="bi bi-circle" ></i><span style="color: white;">Add news</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a style="background-color:#4284FC " class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-archive-fill" style="color: white;"></i><span style="color: white;">Documentation</span><i style="color: white;" class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a style="background-color:#81ADFE" href="/files">
                            <i class="bi bi-circle"></i><span style="color: white;">Media List</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a style="background-color:#4284FC " class="nav-link collapsed" data-bs-target="#forms-nav1" data-bs-toggle="collapse" href="#">
                    <i style="color: white;" class="bi bi-person-lines-fill"></i><span style="color: white;">Students</span><i style="color: white;" class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav1" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a style="background-color:#81ADFE" href="/students">
                            <i class="bi bi-circle"></i><span style="color: white;">Students List</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a style="background-color:#4284FC " class="nav-link collapsed" data-bs-target="#forms-nav2" data-bs-toggle="collapse" href="#">
                    <i style="color: white;" class="bi bi-person-circle"></i><span style="color: white;">Teachers</span><i style="color: white;" class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav2" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a style="background-color:#81ADFE" href="/teachers">
                            <i class="bi bi-circle"></i><span style="color: white;">Teachers List</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a style="background-color:#4284FC " class="nav-link collapsed" data-bs-target="#forms-managment" data-bs-toggle="collapse" href="#">
                    <i style="color: white;" class="bi bi-people-fill"></i><span style="color: white;">Staff</span><i style="color: white;" class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-managment" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li style="display: block; margin: 5px 0;">
                        <a style="background-color:#81ADFE" href="/admins">
                            <i class="bi bi-person-lines-fill"></i><span style="color: white;">Admins List</span>
                        </a>
                    </li>
                    <li>
                        <a style="background-color:#81ADFE" href="/moderators">
                            <i class="bi bi-person-lines-fill"></i><span style="color: white;">Moderators List</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a style="background-color:#4284FC " class="nav-link collapsed" data-bs-target="#forms-navForum" data-bs-toggle="collapse" href="#">
                    <i style="color: white;" class="bi bi-chat-square-text"></i></i><span style="color: white;">Forum</span><i style="color: white;" class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-navForum" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a style="background-color:#81ADFE" href="/forum">
                            <i class="bi bi-circle"></i><span style="color: white;">Forum</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a style="background-color:#4284FC " class="nav-link collapsed" data-bs-target="#forms-navSurvey" data-bs-toggle="collapse" href="#">
                    <i style="color: white;" class="bi bi-clipboard-data"></i></i><span style="color: white;">Surveys</span><i style="color: white;" class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-navSurvey" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a style="background-color:#81ADFE" href="/surveys">
                            <i class="bi bi-circle"></i><span style="color: white;">Surveys</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a  style="background-color:#4284FC" class="nav-link collapsed" data-bs-target="#forms-nav3" data-bs-toggle="collapse" href="#">
                    <i style="color: white;" class="bi bi-shield-fill-exclamation"></i><span style="color: white;">Privacy</span><i style="color: white;"class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav3" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a style="background-color:#81ADFE" href="/privacy">
                            <i class="bi bi-circle"></i><span style="color: white;">Privacy Terms</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>
    
</body>

</html>